/* HEADER NAV */
header{
    padding: 1em;
    background-color: white;
    border-bottom: 1px solid #ffe4d3;
}
header figure{
    width: 110px;
}
header figure img{
    width: 100%;
    margin: 0;
    display: block;
}
header nav{
    gap: .3em;
}
header nav a{
    color: #e48245;
    padding: .5em;    
    border-radius: .5em;
    transition: .3s;
}
header nav a:hover{
    transition: .3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);   
}
header .social{
    gap: .3em;
}
header .social img{
    width: 30px;
    cursor: pointer;
    transition: .3s;
    margin: 0;
    display: block;
    opacity: .4;
}
header .social img:hover{
    transition: .3s;
    transform: scale(1.1);    
    opacity: .8;
}
@media only screen and (max-width: 720px)
{
    header nav, header .social{
        display: none !important;
    }

}

/* BANNER */
.banner{
    background-color: white;
    min-height: 400px;
    padding: 1em;    
    border-bottom: 1px solid #ffe4d3;    
    border-bottom-right-radius: 40%;
    /* background-image: url('../img/pizza.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .texto{
    padding: 1em;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 19%, rgba(115,25,4,0) 100%);
    border-radius: 1em;
}
.banner .texto h2{
    background-color: white;
    color: #e48245;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);   
    padding: 1em;
    width: fit-content;
    border-radius: .5em;
    max-width: 250px;
    text-align: center;
    font-size: .8em;
    margin: .5em 0;
}
.banner .texto h1{
    padding: .5em 0;
    font-size: 3em;
}
.banner .texto h1 cite{
    color: #e48245;
    font-style: normal;
}
.banner .texto button{
    background-color: white;
    color: #e48245;
    border: 3px solid #fff;
    padding: 1em 0;
    border-radius: .5em;
    text-align: left;
    font-size: 1em;
    min-width: 150px;
    transition: .3s;
    cursor: pointer;
}
.banner .texto button:hover{
    transition: .3s;
    color: #e48245;
    border: 3px solid #fbad7b;
    padding: 1em;    
}
.banner .texto button:hover span{
    color: #e48245;
    transition: .3s;
}
.banner .texto button span{
    padding: 0 !important;
    margin-left: .5em;
    color: #e48245;
    transition: .3s;
}
.banner figure{
    width: 100%;
}
.banner figure img{
    width: 100%;
    display: block;
    margin: 0;
}

/* BOTOES TIPO STORIES */

.botoes_stories{
    padding: 1em;
}
.botoes_stories .stories{    
    padding: .1em;
    border-radius: 50%;    
    background-color: #4158D0;
    background-image: linear-gradient(225deg, #d0415b 0%, #C850C0 46%, #FFCC70 100%);
    cursor: pointer;
}
.botoes_stories .stories .circles{
    transition: .3s;
    padding: 2em;
    border-radius: 50%;
    border: 5px solid white;
    background-color: #f0f0f0;
}

.botoes_stories .stories:hover .circles{
    transition: .5s;
    transform: scale(1.1);
}

/* CARDS */
.cards{
    gap: 1em;
    padding: 1em;
}
.cards .card{
    padding: 1em;
    border-radius: .5em;
    transition: .3s;
    width: 100%;
    min-height: 350px;
    border-bottom: 1px solid #ffe4d3;    
}
.cards .card figure{
    width: 100%;
    overflow: hidden;
    border-radius: .5em;
}
.cards .card figure img{
    width: 100%;
    display: block;
    margin: 0;
    transition: .3s;
}
.cards .card h2{
    margin: 1em 0;
    transition: .3s;
}
.cards .card p{
    color: rgb(160, 160, 160);
}
.cards .card:hover figure img{
    transition: .3s;
    transform: scale(1.1) rotate(2deg);
}
.cards .card:hover h2{
    transition: .3s;
    color: #e48245;
}
.cards .card:hover{
    transition: .3s;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}
.cards .card button{
    transition: .3s;
    font-size: 1em;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    color: #fbad7b;
    padding: 1em 0;
    cursor: pointer;
    border-radius: .5em;
    margin-top: 1em;
}
.cards .card button span{
    transition: .3s;
    color: #fbad7b;
    margin-left: .5em;
}
.cards .card button:hover{
    transition: .3s;    
    padding: 1em;    
    border: 1px solid #fbad7b;
}

/* SOBRE */
.sobre{
    background-color: rgb(88, 45, 20);
    background-image: url('../img/domhelio2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(.5);
    padding: 2em;
    margin: 1em 0;
    transition: .3s;
}
.sobre:hover{
    transition: .3s;
    filter: grayscale(0);
}
@media only screen and (max-width: 720px)
{
    .sobre{
        filter: grayscale(0);
    }

}
.sobre article{
    gap: 1.5em;
}
.sobre .texto{
    padding: 1em;
    background-color: rgba(41, 21, 10, 0.8);
    border-radius: .5em;
}
.sobre h2{
    background-color: #d1ccc0;
    color: #666;
    padding: .5em;
    border-radius: .3em;
    width: fit-content;
    max-width: 150px;
    font-size: .8em;
    margin-bottom: 1em;
}
.sobre h1{
    font-size: 2em;    
    color: #d1ccc0;
    margin-bottom: .5em;
}
.sobre p{
    color: white;
}
.sobre figure {    
    overflow: hidden;
    border-radius: .5em;
}
.sobre figure img{
    width: 100%;
    display: block;
    margin: 0;
}
.sobre button{
    transition: .3s;
    margin-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: #fbad7b;
    cursor: pointer;
    padding: 1em 0;
    border-radius: .5em;
}
.sobre button span{
    color: #fbad7b;
    transition: .3s;
    margin-left: .5em;
}
.sobre button:hover{
    transition: .3s;
    padding: 1em;
    border: 1px solid #fbad7b;
}

/* APP */
.app{
    margin: 5em 0;
    border-bottom: 1px solid #ffe4d3;
    border-bottom-left-radius: 40%;
}
.app .texto{
    padding: 1em;
}
.app .texto h2{
    background-color: white;
    color: #e48245;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);   
    padding: 1em;
    width: fit-content;
    border-radius: .5em;
    max-width: 250px;
    text-align: center;
    font-size: .8em;
    margin: .5em 0;
}
.app .texto h1{
    padding: .5em 0;
    font-size: 3em;
}
.app .texto h1 cite{
    color: #e48245;
    font-style: normal;
}
.app .texto button{
    background-color: white;
    color: #e48245;
    border: none;
    padding: 1em 0;
    border-radius: .5em;
    text-align: left;
    font-size: 1em;
    min-width: 150px;
    transition: .3s;
    cursor: pointer;
}
.app .texto button:hover{
    transition: .3s;
    color: white;
    background-color: #fbad7b;
    padding: 1em;    
}
.app .texto button:hover span{
    color: white;
    transition: .3s;
}
.app .texto button span{
    padding: 0 !important;
    margin-left: .5em;
    color: #e48245;
    transition: .3s;
}
.app .texto div{
    gap: .5em;
}
.app figure img{
    margin: 0;
    display: block;
    width: 100%;
    transition: .3s;
}
.app .texto figure img:hover{
    transition: .3s;
    transform: scale(1.1);
}

/* AVALIAÇÕES */
.avaliacoes{
    margin-bottom: 1em;
    padding: 1em;
}
.avaliacoes article{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    border-radius: .5em;
    padding: 2em;
    gap: 1em;
}
.avaliacoes article .texto{
    padding: 1em;
}
.avaliacoes article .texto h2{
    background-color: white;
    color: #e48245;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);   
    padding: 1em;
    width: fit-content;
    border-radius: .5em;
    max-width: 250px;
    text-align: center;
    font-size: .8em;
    margin: .5em 0;
}
.avaliacoes article .texto h1{
    padding: .5em 0;
    font-size: 2em;
}
.avaliacoes article .texto h1 cite{
    color: #e48245;
    font-style: normal;
}
.avaliacoes article .texto button{
    background-color: white;
    color: #e48245;
    border: none;
    padding: 1em 0;
    border-radius: .5em;
    text-align: left;
    font-size: 1em;
    min-width: 150px;
    transition: .3s;
    cursor: pointer;
}
.avaliacoes article .texto button:hover{
    transition: .3s;
    color: white;
    background-color: #fbad7b;
    padding: 1em;    
}
.avaliacoes article .texto button:hover span{
    color: white;
    transition: .3s;
}
.avaliacoes article .texto button span{
    padding: 0 !important;
    margin-left: .5em;
    color: #e48245;
    transition: .3s;
}
.avaliacoes .clientes{
    padding: 1em;
}
.avaliacoes .clientes p{
    color: rgb(160, 160, 160);
}
.avaliacoes .clientes h4{
    padding: .5em 0;
}
.avaliacoes .clientes div{
    bottom: 1em;
    left: 1em;
    gap: .5em;
}
.avaliacoes .clientes span{    
    border: 1px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
    margin: 0 !important;
    padding: .5em;
    transition: .3s;
    cursor: pointer;
}
.avaliacoes .clientes span:hover{
    transition: .3s;
    opacity: .8;
    border: 1px solid #fbad7b;
    color: #fbad7b;
}
@media only screen and (max-width: 720px)
{
    .avaliacoes .clientes div{
        position: unset;
        justify-content: flex-start;
    }

}

/* PROMOCOES */
.promocoes{    
    margin: 1em 0;
    padding: 1em;
}
.promocoes article{
    gap: .5em;
    padding: 3em 0;
}
.promocoes figure{
    width: 100%;    
    background-color: #fff;
    border-radius: .5em !important;
    overflow: hidden;
    cursor: pointer;
}
.promocoes figure h1{
    display: none;
    width: 100%;
    top: 0;
    background-color: rgba(55, 9, 6,.6);
    padding: 1em;
    color: white;
}
.promocoes figure img{
    width: 100%;
    display: block;
    margin: 0;
    transition: .3s;
}
.promocoes figure:hover img{
    transition: .3s;
    transform: scale(1.1) rotate(2deg);
}

/* MOBILE */
.mobile .abrir_menu{
    background-color: #e48245;
    color: white;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    padding: 0 !important;
    position: fixed;
    z-index: 10;
    bottom: 90px;
    right: 30px;
    display: none;
}
.mobile span{
    color: white;
}
.nav_mobile{
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 1em;
    display: none;
}
.nav_mobile .logo{
    padding: 1em;
}
.nav_mobile .logo img{
    width: 150px;
}
.nav_mobile a{
    width: 80%;
    /* background-color: #581714; */
    color: #e48245;
    text-align: center;
    border-bottom: 1px solid #e48245;
    padding: 1em;
    border-radius: .5em;
    margin-bottom: .3em;
}
.nav_mobile .social{
    gap: .3em;
}
.nav_mobile .social img{
    width: 30px;
    cursor: pointer;
    transition: .3s;
    margin: 0;
    display: block;
    opacity: .4;
}
.nav_mobile .social img:hover{
    transition: .3s;
    transform: scale(1.1);    
    opacity: .8;
}

@media only screen and (max-width: 720px)
{
    .mobile .abrir_menu{
        display: flex;
    }
}

/* FOOTER */
footer{
    font-size: .8em;
    background-color: #f8f8f8;
    padding: 5em 1em;
}
footer article{
    gap: .5em;
    padding: 1em;
}
footer  h3{
    font-size: 1em;
}
footer  p{
    margin-bottom: 1em;
}
footer div{
    border-left: 1px dashed rgb(196, 196, 196);
    padding: 1em;
}
footer .pagamento figure{
    width: 70%;
}
footer .pagamento figure img{
    display: block;
    margin: 0;
    width: 100%;
}
footer .contato ul li{
    padding: .3em;
}
footer .contato ul li span{
    padding: 0;
    margin-right: .5em;
}
footer .logo img{
    width: 200px;
    filter: grayscale(1);
    opacity: .5;
}
